<div class="home-right container" style="padding-top: 20px">
    <div style="margin-bottom: 30px;"><h3>積極的な活動の客様</h3></div>
    <div class="content">
        <div class="item">
            <div class="image">
                <%= image_tag "avatar.jpg", :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    グエン・ゴック・ハイ
                </p>
                <span class="total-post">
                    3.5m 文書
                </span>
            </div>
            <br>
        </div>
        <div class="item">
            <div class="image">
                <%= image_tag "avatar.jpg", :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    グエン・ゴック・ハイ
                </p>
                <span class="total-post">
                    3.5m 文書
                </span>
            </div>
            <br>
        </div>
        <div class="item">
            <div class="image">
                <%= image_tag "avatar.jpg", :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    グエン・ゴック・ハイ
                </p>
                <span class="total-post">
                    3.5m 文書
                </span>
            </div>
            <br>
        </div>
        <div class="item">
            <div class="image">
                <%= image_tag "avatar.jpg", :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    グエン・ゴック・ハイ
                </p>
                <span class="total-post">
                    3.5m 文書
                </span>
            </div>
            <br>
        </div>
        <div class="item">
            <div class="image">
                <%= image_tag "avatar.jpg", :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    グエン・ゴック・ハイ
                </p>
                <span class="total-post">
                    3.5m 文書
                </span>
            </div>
            <br>
        </div>
        <div class="item">
            <div class="image">
                <%= image_tag "avatar.jpg", :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    グエン・ゴック・ハイ
                </p>
                <span class="total-post">
                    3.5m 文書
                </span>
            </div>
            <br>
        </div>
        <div class="item">
            <div class="image">
                <%= image_tag "avatar.jpg", :style => "width: 66px; height: 66px; border-radius: 5px;" %>
            </div>
            <div class="info">
                <p class="name">
                    グエン・ゴック・ハイ
                </p>
                <span class="total-post">
                    3.5m 文書
                </span>
            </div>
            <br>
        </div>
    </div>
</div>