<div class="row align-items-sm-center" style="color: white; margin-top: 50px;">
  <div class="col-md-6" >
    <h1>Xin chào!</h1>
    <%= image_tag '/image/login_img.png'%>
  </div>
  <div class="col-md-6" style="background-color: #212529; border-radius: 5px">
    <div style="margin: 30px 20px 30px 20px">
      <%= form_for(:session,url:login_path) do |f|%>
        <%= f.label :email %>
        <%=f.email_field :email, class:'form-control'%>
        <%= f.label :password %>
        <%= f.password_field :password, class:'form-control'%>
        <%= link_to t(".forgot"), "#" %>
        <br>
        <%= f.submit t(".signin") , class: "btn btn-success"%>
        <%= link_to  t(".have_not_account"), signup_path %>
      <%end%>
    </div>
  </div>
</div>
