<div class="row align-items-sm-center" style="color: white; margin-top: 50px;">
  <div class="col-md-6" >
    <h1>Xin chào!</h1>
    <%= image_tag '/image/login_img.png'%>
  </div>
  <div class="col-md-6" style="background-color: #212529; border-radius: 5px">
    <div style="margin: 30px 20px 30px 20px">
      <%= form_for(:password_reset,url: password_resets_path) do |f|%>
        <%= f.label :email %>
        <%=f.email_field :email, class:'form-control'%>
        <br>
        <%= f.submit t(".get_mail_reset_password"), class: "btn btn-success"%>
      <%end%>
    </div>
  </div>
</div>
