<div class="row" style="color: white; margin-top: 50px;">
  <div class="col-md-8" style="background-color: #212529; border-radius: 5px; margin:auto">
    <div>
        <h1 style="margin-top:20px"><%= t ".edit_profile" %></h1>
        <p style="text-align:center"><%= t ".commit" %></p>
    </div>
    
    <div style="margin: 30px 20px 30px 20px">
      <div style="color:#41ff6c; margin-bottom:10px" class="center">
          <%= t ".profile_please" %>
      </div>
        
      <%= form_for(@user, url:profile_path, method:"post" ) do |f|%>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="row  justify-content-center mt-4" 
            style="margin-bottom: 20px; position: relative;">
          <%= image_tag(avatar_url(@user), 
                  class:"img-user rounded-circle", id: 'img_prev')%>
          <%= f.label :image, class:"label-to-select-user-img" %>
          <%= f.file_field :image, 
                  accept:  'image/jpeg,image/gif,image/png,image/jpg', 
                  class: 'form-control mb-2 photo_upload d-none'%>
        </div>

        <div class="mt-4">
          <%= f.label t(".username") %>
          <%=f.text_field :nickname, class:'form-control', value:current_user.nickname %>
        </div>

        <div class="mt-4">
          <%= f.label t(".fullname") %>
          <%=f.text_field :name, class:'form-control', value:current_user.name %>
        </div>
        
        <div class="row  align-items-sm-center mt-4">
          <div class="col-md-6">
          <%= f.label t(".age") %>
          <%=f.number_field :age, class:'form-control', value:current_user.age%>
          </div>
          <div class="col-md-6">
            <div><%= f.label t(".gender") %></div>
            <div></div>
            <%= f.select(:sex, 
              options_for_select([[t(".male"), '1'], [t(".female"), '2']], @user.sex), 
              {:prompt => t(".select_gender")},
              {:class => 'form-control'})%>          
          </div>
        </div>
        
        <div class="mt-4">
          <%= f.label t(".email") %>
          <%= f.email_field :email, class:'form-control', value:current_user.mail%>
        </div>
        
        <div class="d-flex justify-content-center mt-4">
          <%= f.submit t(".edit") , class: "btn btn-success"%>
        </div>
      <%end%>
    </div>
  </div>
  <!--<div class="col-md-4" >-->
    <!--<h1>Xin chào!</h1>-->
    <!--<%= image_tag '/image/login_img.png'%>-->
  <!--</div>-->
</div>


<!-- Assume jQuery is loaded -->
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result)
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
  $(".photo_upload").change(function(){
    readURL(this);
  });
</script>
