<div class="row align-items-sm-center" style="color: white; margin-top: 50px;">
  <div class="col-md-8" style="background-color: #212529; border-radius: 5px">
    <div>
        <h1 style="margin-top:20px"><%= t ".edit_profile" %></h1>
        <p style="text-align:center"><%= t ".commit" %></p>
    </div>
    
    <div style="margin: 30px 20px 30px 20px">
      <div style="color:red">
          <%= t ".profile_please" %>
      </div>
        
      <%= form_for(@user, url:profile_path, method:"post" ) do |f|%>
        <%= f.label t(".username") %>
        <%=f.text_field :nickname, class:'form-control', value:current_user.nickname %>
        <%= f.label t(".fullname") %>
        <%=f.text_field :name, class:'form-control', value:current_user.name %>
        
        <div class="row  align-items-sm-center">
          <div class="col-md-6">
          <%= f.label t(".age") %>
          <%=f.number_field :age, class:'form-control', value:current_user.age%>
          </div>
          <!--<div class="col-md-6">-->
          <!--  <div><%= f.label t(".gender") %></div>-->
          <!--  <div><%= f.select :sex, [t(".none"), t(".male"), t(".female")], class:'form-control', :selected => params[:pid]%></div>-->
          <!--  <%= f.select :gender, [['Male', 1], ['Female', 2]], selected: f.object.gender %>-->
          <!--</div>-->
        </div>
        
        <%= f.label t(".email") %>
        <%= f.email_field :email, class:'form-control', value:current_user.mail%>
        
        <div style="margin-top:10px">
          <%= f.submit t(".edit") , class: "btn btn-success"%>
        </div>
      <%end%>
    </div>
  </div>
  <div class="col-md-4" >
    <!--<h1>Xin chào!</h1>-->
    <!--<%= image_tag '/image/login_img.png'%>-->
  </div>
</div>
