<div class="row" style="color: white; margin-top: 50px;">
  <div class="col-md-8" style="background-color: #212529; border-radius: 5px; margin:auto">
    <div>
        <h1 style="margin-top:20px"><%= t ".edit_profile" %></h1>
        <p style="text-align:center"><%= t ".commit" %></p>
    </div>
    
    <div style="margin: 30px 20px 30px 20px">
      <div style="color:#41ff6c; margin-bottom:10px">
          <%= t ".profile_please" %>
      </div>
        
      <%= form_for(@user, url:profile_path, method:"post" ) do |f|%>
        <div class="row  align-items-sm-center" style="margin-bottom: 20px">
          <div class="col-md-2">
            <% if @user.image.attached? %>
            <%= image_tag @user.image, :class => "rounded-circle", :style => "width: 100%" %>
            <% end %>
          </div>
          <div class="col-md-10">
            <p style="margin:0px; padding:0px"><%= f.label t(".edit_image") %></p>
            <p style="font-size:15px; color:#9a9292; margin:0; padding:0"><%= f.label t(".image_rule") %></p>
            <%= f.file_field :image%>
          </div>
        </div>

        <%= f.label t(".username") %>
        <%=f.text_field :nickname, class:'form-control', value:current_user.nickname %>
        <%= f.label t(".fullname") %>
        <%=f.text_field :name, class:'form-control', value:current_user.name %>
        
        <div class="row  align-items-sm-center">
          <div class="col-md-6">
          <%= f.label t(".age") %>
          <%=f.number_field :age, class:'form-control', value:current_user.age%>
          </div>
          <div class="col-md-6">
            <div><%= f.label t(".gender") %></div>
            <div></div>
            <%= f.select(:sex, options_for_select([[t(".male"), '1'], [t(".female"), '2']], @user.sex), {:prompt => t(".select_gender")})%>          
          </div>
        </div>
        
        <%= f.label t(".email") %>
        <%= f.email_field :email, class:'form-control', value:current_user.mail%>
        
        <div style="margin-top:10px">
          <%= f.submit t(".edit") , class: "btn btn-success"%>
        </div>
      <%end%>
    </div>
  </div>
  <!--<div class="col-md-4" >-->
    <!--<h1>Xin chào!</h1>-->
    <!--<%= image_tag '/image/login_img.png'%>-->
  <!--</div>-->
</div>
