<!DOCTYPE html>
<html>
  <head>
    <title>Konoha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-visit-control" content="reload">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href=<%= Settings.link.app.fontawesome %> rel="stylesheet">
  </head>

  <body style="background-color: black">
    <%= render "layouts/header" %>
    <main class="container" id="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
